
<div class="container">
	<div class="row">
		<div class="col-md-3 col-sm-6 col-xm-2">
			<div class="thumbnail">
				<img src="http://www.w3schools.com/bootstrap/paris.jpg" alt="#" style="margin-top: 40px; width: 300; height:300;">
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xm-2">
			<div class="thumbnail">
				<img src="http://www.w3schools.com/bootstrap/newyork.jpg" alt="#" style="margin-top: 40px; width: 300; height:300;">
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xm-2">
			<div class="thumbnail">
				<img src="http://www.w3schools.com/bootstrap/sanfran.jpg" alt="#" style="margin-top: 40px; width: 300; height:300;">
			</div>
		</div>

		<div class="col-md-3 col-sm-6 col-xm-2">
			<div class="thumbnail">
				<!--<h2>New to the Xchange?</h2> -->
				<img src="http://www.w3schools.com/bootstrap/sanfran.jpg" alt="#" style="margin-top: 40px; width: 300; height:300;"> 
			</div>
		</div>

	</div>
</div>
